$body-font: 'Open Sans', sans-serif;
$heading-font: 'Yeseva One', cursive;
$light: 300;
$regular: 400;
$bold: 700;
$sea-green: #27746b;
$pink: #ff8581;
$white: #F7F4EA;
$blue: #0c1b33;
$purple: #7A306C;
$light-blue: #03B5AA;
$light-green: #DBFE87;
$dark-red: #4f000b;
$dark-pink: #720026;
$light-pink: #ce4257;
$orange: #ff7f51;
$light-orange: #ff9b54;
