$body-font: 'Open Sans', sans-serif;
$heading-font: 'Yeseva One', cursive;
$light: 300;
$regular: 400;
$bold: 700;
$sea-green: #27746b;
$pink: #ff8581;
$white: #F7F4EA;
$blue: #0c1b33;
$black: #291720;
$purple: #7A306C;
$light-blue: #00948a;
$light-green: #DBFE87;
$dark-red: #4f000b;
$dark-pink: #D90368;
$light-pink: #ce4257;
$orange: #F3752B;
$light-orange: #ff9b54;
$soft-white: rgba(255,255,255,0.75);
$peach: #f8ad9d;