/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Universal Styles */
body {
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

.content-wrapper {
  margin: 10px 20px; }

h1,
h2,
h4,
h5 {
  font-family: "Yeseva One", cursive;
  margin: 0; }

h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0; }

hr {
  min-width: 100px;
  max-width: 110px;
  margin: 0 auto; }

input::placeholder,
input[type="submit"] {
  text-transform: lowercase; }

.post-category {
  font-family: "Yeseva One", cursive;
  font-size: .85rem;
  margin: 0px 5px;
  text-transform: lowercase; }
  .post-category a:link,
  .post-category a:visited {
    color: #D90368;
    text-decoration: none; }
    .post-category a:link:hover,
    .post-category a:visited:hover {
      background: #D90368;
      color: #F7F4EA;
      transition: 1s; }

.post-title {
  text-transform: lowercase; }
  .post-title a:link,
  .post-title a:visited {
    color: #F7F4EA;
    text-decoration: none;
    padding: 0px 2px; }
    .post-title a:link:hover,
    .post-title a:visited:hover {
      background: #00948a;
      color: #F7F4EA;
      transition: 1s; }

.publish-date {
  color: #f8ad9d;
  font-weight: 700;
  margin: 0;
  padding: 5px 0px;
  text-transform: uppercase; }

.button {
  background: #D90368;
  color: #F7F4EA;
  display: inline-block;
  font-family: "Yeseva One", cursive;
  font-weight: 700;
  min-width: 100px;
  max-width: 101px;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center; }
  .button:link, .button:visited {
    text-decoration: none; }
  .button:hover {
    background: #00948a;
    transition: 1s; }

/* Header */
header .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
header .logo {
  color: #00948a; }
  header .logo:hover {
    color: #D90368;
    transition: 1s; }
header nav ul {
  list-style: none; }
  header nav ul li {
    display: inline-block;
    padding-left: 5px;
    text-transform: lowercase; }
    header nav ul li a:link,
    header nav ul li a:visited {
      color: #D90368;
      font-family: "Yeseva One", cursive;
      font-weight: 700;
      text-decoration: none; }
      header nav ul li a:link:hover,
      header nav ul li a:visited:hover {
        color: black;
        transition: 1s; }
    header nav ul li .active-nav:link, header nav ul li .active-nav:visited {
      border-bottom: 3px solid #00948a; }

/* Hero */
#hero {
  background: url("../img/hero.jpg");
  background-size: cover;
  height: 300px; }
  #hero h1 {
    background: white;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px; }
    #hero h1 span {
      color: #D90368; }
      #hero h1 span:nth-of-type(2) {
        color: #00948a; }

/* Featured Content Section */
#featured .featured-title {
  margin: 20px 0px;
  text-transform: uppercase; }
  #featured .featured-title span {
    color: #00948a; }
#featured .content-wrapper {
  margin: 0; }
#featured h2 {
  text-align: center;
  padding: 5px 0px; }
#featured .featured-content-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* Highlighted Post */
  /* Add a border around the posts' metadata */
  /* Post metadata */ }
  #featured .featured-content-container article {
    width: 100%;
    margin-bottom: 20px;
    height: 350px; }
  #featured .featured-content-container .post-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-01.jpg");
    background-size: cover;
    background-blend-mode: saturation; }
  #featured .featured-content-container .post-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-02.jpg");
    background-size: cover;
    background-blend-mode: saturation; }
  #featured .featured-content-container .post-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/blog-03.jpg");
    background-size: cover;
    background-blend-mode: saturation; }
  #featured .featured-content-container .featured-content-border {
    border: 2px solid #00948a;
    margin: 170px 10px 0px 10px;
    padding: 5px;
    background: white;
    border: none;
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  #featured .featured-content-container .post-title {
    font-size: 1.25rem;
    line-height: 1.35rem; }
    #featured .featured-content-container .post-title a:link,
    #featured .featured-content-container .post-title a:visited {
      color: #00948a; }
      #featured .featured-content-container .post-title a:link:hover,
      #featured .featured-content-container .post-title a:visited:hover {
        color: #F7F4EA; }
  #featured .featured-content-container .post-category a:link,
  #featured .featured-content-container .post-category a:visited {
    background: #D90368;
    color: #F7F4EA;
    padding: 1px 5px; }
    #featured .featured-content-container .post-category a:link:hover,
    #featured .featured-content-container .post-category a:visited:hover {
      background: #00948a; }
  #featured .featured-content-container .publish-date {
    color: #D90368; }
  #featured .featured-content-container h2 {
    line-height: 1.65rem; }
  #featured .featured-content-container p {
    line-height: .25rem; }

/* Blog Section */
#blog {
  /* Individual Blog Posts */
  /* Blog Sidebar */ }
  #blog h1 {
    font-size: 1.75rem;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase; }
    #blog h1 span {
      color: #D90368; }
  #blog .blog-desc-border {
    border: 2px solid #00948a;
    margin: 170px 10px 0px 10px;
    padding: 5px;
    background: white;
    margin: 0;
    padding: 0; }
    #blog .blog-desc-border .post-desc .post-category a:link,
    #blog .blog-desc-border .post-desc .post-category a:visited {
      background: #D90368;
      color: white;
      padding: 1px 5px; }
      #blog .blog-desc-border .post-desc .post-category a:link:hover,
      #blog .blog-desc-border .post-desc .post-category a:visited:hover {
        background: #00948a;
        transition: 1s; }
    #blog .blog-desc-border .post-desc .post-title a:link,
    #blog .blog-desc-border .post-desc .post-title a:visited {
      color: #00948a; }
      #blog .blog-desc-border .post-desc .post-title a:link:hover,
      #blog .blog-desc-border .post-desc .post-title a:visited:hover {
        color: #F7F4EA; }
    #blog .blog-desc-border .post-desc .publish-date {
      color: #D90368; }
  #blog .blog-posts {
    /* Blog Post Excerpts */ }
    #blog .blog-posts article {
      padding-bottom: 10px; }
      #blog .blog-posts article img {
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-height: 300px;
        padding-bottom: 20px; }
      #blog .blog-posts article .post-title {
        font-size: 1.25rem;
        padding: 5px;
        line-height: 1.25rem; }
        #blog .blog-posts article .post-title a:link,
        #blog .blog-posts article .post-title a:visited {
          color: #00948a; }
          #blog .blog-posts article .post-title a:link:hover,
          #blog .blog-posts article .post-title a:visited:hover {
            color: white; }
      #blog .blog-posts article .publish-date {
        color: #D90368;
        line-height: .25rem;
        padding: 5px; }
      #blog .blog-posts article .post-category a {
        background: #D90368;
        color: white;
        padding: 0px 5px; }
        #blog .blog-posts article .post-category a:hover {
          background: #00948a; }
      #blog .blog-posts article .read-more {
        line-height: 1rem; }
      #blog .blog-posts article .read-more-link {
        display: inline;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: .10rem;
        padding-left: 5px; }
      #blog .blog-posts article .share-post {
        padding-top: 10px; }
        #blog .blog-posts article .share-post i {
          color: #00948a;
          padding-right: 5px; }
          #blog .blog-posts article .share-post i:hover {
            color: #D90368;
            transition: 1s; }
  #blog .single-post .blog-desc-border {
    width: 100%;
    padding: 0; }
    #blog .single-post .blog-desc-border .post-desc {
      padding: 10px; }
  #blog .single-post .publish-date {
    margin: 0;
    padding: 0; }
  #blog .single-post img.post-img {
    border-radius: 30px;
    margin: 30px 0px;
    width: 100%; }
  #blog .single-post .post-title {
    line-height: 1.75rem; }
  #blog .single-post hr {
    margin-top: 5px;
    border-top: 5px solid #D90368; }
  #blog .single-post .comment-section {
    width: 100%;
    /* Comment Form */ }
    #blog .single-post .comment-section h2 {
      padding: 25px 0px;
      text-align: center;
      text-transform: lowercase; }
    #blog .single-post .comment-section .comment .commenter-info {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      #blog .single-post .comment-section .comment .commenter-info img {
        border-radius: 50px;
        width: 50px;
        height: 50px; }
      #blog .single-post .comment-section .comment .commenter-info h3 {
        color: #00948a;
        font-family: "Yeseva One", cursive;
        padding-left: 10px; }
    #blog .single-post .comment-section .comment .comment-metadata {
      color: #D90368;
      font-weight: 700;
      padding-bottom: 20px;
      text-transform: uppercase; }
    #blog .single-post .comment-section form.comment-form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center; }
      #blog .single-post .comment-section form.comment-form .name {
        width: 47%; }
      #blog .single-post .comment-section form.comment-form .email {
        width: 47%; }
      #blog .single-post .comment-section form.comment-form input[type="text"].comment-space {
        width: 100%;
        padding-bottom: 100px; }
      #blog .single-post .comment-section form.comment-form input[type="text"] {
        border: 2px solid #00948a;
        margin: 5px 0px;
        padding: 5px 0px 5px 5px; }
      #blog .single-post .comment-section form.comment-form input[type="submit"] {
        background: #00948a;
        border: none;
        color: #F7F4EA;
        font-weight: 700;
        padding: 20px;
        margin-top: 5px; }
        #blog .single-post .comment-section form.comment-form input[type="submit"]:hover {
          background: #D90368;
          transition: 1s; }
  #blog .blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    position: relative; }
    #blog .blog-sidebar aside {
      padding: 25px 0px; }
    #blog .blog-sidebar .sidebar-content-border {
      background: #00948a;
      color: white;
      margin-top: 125px;
      padding: 90px 15px 10px 15px;
      position: absolute;
      top: 0;
      z-index: -1; }
      #blog .blog-sidebar .sidebar-content-border h4 {
        color: #F7F4EA; }
      #blog .blog-sidebar .sidebar-content-border hr {
        margin-top: 5px;
        border-top: 5px solid #D90368; }
      #blog .blog-sidebar .sidebar-content-border p {
        padding-top: 10px; }
    #blog .blog-sidebar hr {
      margin-top: 5px;
      border-top: 5px solid #00948a; }
    #blog .blog-sidebar h4 {
      font-size: 1.5rem;
      padding-top: 10px;
      text-align: center;
      text-transform: lowercase; }
    #blog .blog-sidebar .about {
      text-align: center; }
      #blog .blog-sidebar .about img {
        border-radius: 100px;
        width: 175px;
        height: 175px; }
      #blog .blog-sidebar .about p {
        margin: 0; }
    #blog .blog-sidebar .sidebar-socials {
      padding-top: 200px;
      position: relative; }
      #blog .blog-sidebar .sidebar-socials .social-media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding-top: 20px;
        width: 150px; }
      #blog .blog-sidebar .sidebar-socials i {
        color: #D90368;
        margin: 0px 10px; }
        #blog .blog-sidebar .sidebar-socials i:hover {
          color: #00948a;
          cursor: pointer;
          transition: 1s; }
    #blog .blog-sidebar .newsletter {
      text-align: center; }
      #blog .blog-sidebar .newsletter form {
        display: flex;
        flex-flow: column wrap;
        margin: 20px 0px;
        text-transform: uppercase; }
        #blog .blog-sidebar .newsletter form input[type="text"] {
          border-bottom: none;
          border-top: 2px solid #00948a;
          border-left: 2px solid #00948a;
          border-right: 2px solid #00948a;
          padding: 20px; }
        #blog .blog-sidebar .newsletter form input[type="submit"] {
          background: #00948a;
          border: 1px solid #00948a;
          color: #F7F4EA;
          font-family: "Yeseva One", cursive;
          font-size: 1.5rem;
          font-weight: 700;
          padding: 20px; }
          #blog .blog-sidebar .newsletter form input[type="submit"]:hover {
            background: #D90368;
            border: 1px solid #D90368;
            transition: 1s; }
    #blog .blog-sidebar .categories {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center; }
      #blog .blog-sidebar .categories h4 {
        width: 100%; }
    #blog .blog-sidebar .recent-posts-sidebar article {
      position: relative;
      padding: 20px 0px; }
      #blog .blog-sidebar .recent-posts-sidebar article img {
        border-radius: 75px;
        width: 75px;
        height: 75px; }
      #blog .blog-sidebar .recent-posts-sidebar article span {
        display: inline-flex;
        flex-direction: column;
        line-height: 1rem;
        position: absolute;
        top: 20px;
        padding-left: 10px; }
        #blog .blog-sidebar .recent-posts-sidebar article span .publish-date {
          color: #00948a;
          padding: 0px; }
        #blog .blog-sidebar .recent-posts-sidebar article span .post-title {
          font-size: 1rem;
          text-align: left;
          padding: 0; }
          #blog .blog-sidebar .recent-posts-sidebar article span .post-title a:link,
          #blog .blog-sidebar .recent-posts-sidebar article span .post-title a:visited {
            color: #D90368; }
            #blog .blog-sidebar .recent-posts-sidebar article span .post-title a:link:hover,
            #blog .blog-sidebar .recent-posts-sidebar article span .post-title a:visited:hover {
              color: #F7F4EA; }
    #blog .blog-sidebar .recent-posts-sidebar form.search {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 30px;
      padding: 10px 0px; }
      #blog .blog-sidebar .recent-posts-sidebar form.search input[type="text"] {
        border-top: 1px solid #00948a;
        border-left: 1px solid #00948a;
        border-bottom: 1px solid #00948a;
        border-right: none;
        padding: 10px; }
      #blog .blog-sidebar .recent-posts-sidebar form.search button[type="submit"] {
        background: #00948a;
        border: 1px solid #00948a;
        color: #F7F4EA;
        padding: 10px; }
        #blog .blog-sidebar .recent-posts-sidebar form.search button[type="submit"]:hover {
          background: #D90368;
          border: 1px solid #D90368;
          transition: 1s; }
    #blog .blog-sidebar .ad-space a {
      display: flex;
      justify-content: center;
      align-items: center; }
    #blog .blog-sidebar .ad-space img {
      width: 75%;
      padding: 20px 0px; }
      #blog .blog-sidebar .ad-space img:hover {
        opacity: .75;
        transition: 1s; }

/* Footer */
footer .content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px; }
footer i {
  color: #00948a;
  margin-left: 10px; }
  footer i:hover {
    color: #D90368;
    transition: 1s; }

/* Tablet Styles */
@media screen and (min-width: 768px) {
  /* Featured Posts */
  #featured .featured-content-container {
    display: flex;
    flex-flow: row nowrap; }

  /* Blog */
  #blog .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
  #blog .blog-posts,
  #blog .single-post {
    width: 400px; }
  #blog .blog-sidebar {
    padding-top: 0px;
    width: 250px; }
    #blog .blog-sidebar .sidebar-socials {
      padding-top: 300px;
      position: relative; } }
/* Desktop Styles */
@media screen and (min-width: 1200px) {
  #featured .featured-content-container .featured-content-border {
    min-height: 100px;
    max-height: 110px; }

  #blog .blog-posts,
  #blog .single-post {
    width: 800px; }
  #blog .blog-desc-border {
    width: 60%;
    margin-top: 60px;
    padding: 15px; }
  #blog .blog-posts article {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    #blog .blog-posts article .post-excerpt {
      width: 50%;
      margin-left: 20px; }
    #blog .blog-posts article img {
      position: absolute;
      min-width: 40%;
      max-width: 45%;
      margin: 0;
      z-index: -10;
      top: 0;
      right: 0; }
    #blog .blog-posts article .read-more {
      width: 100%; }
    #blog .blog-posts article .share-post {
      display: block;
      margin: 0;
      padding: 0;
      width: 60%; }
    #blog .blog-posts article:nth-of-type(even) {
      flex-flow: row-reverse wrap;
      margin: 100px 0px; }
      #blog .blog-posts article:nth-of-type(even) .post-excerpt {
        width: 50%; }
      #blog .blog-posts article:nth-of-type(even) img {
        position: absolute;
        min-width: 40%;
        max-width: 45%;
        margin: 0;
        z-index: -10;
        top: 0;
        left: 0; }
  #blog .blog-sidebar {
    width: 300px; }
    #blog .blog-sidebar .sidebar-socials {
      padding-top: 250px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
