/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@import "variables";
@import "mixins";
/* Universal Styles */ 
body {
  font-family: $body-font;
  font-size: 16px;
}
.content-wrapper {
    margin: 10px 20px;
}
h1,
h2,
h4,
h5 {
  font-family: $heading-font;
  margin: 0;
}
h3 {
  font-family: $body-font;
  margin: 0;
}
hr {
  min-width: 100px;
  max-width: 110px;
  margin: 0 auto;
}
input::placeholder,
input[type="submit"] {
  text-transform: lowercase;
}
.post-category {
  font-size: .85rem;
  text-transform: lowercase;
  a:link,
  a:visited {
    text-decoration: none;
  }
}
.post-title {
  text-transform: lowercase;
  a:link,
  a:visited {
    text-decoration: none;
  }
}
.publish-date {
  margin: 0;
  padding: 5px 0px;
  text-transform: uppercase;
}
.button {
  border: 1px solid black;
  border-radius: 30px;
  display: inline-block;
  min-width: 100px;
  max-width: 101px;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
  &:link,
  &:visited {
    text-decoration: none;
  }
}
/* Header */ 
header {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding-left: 5px;
        text-transform: lowercase;
        a:link,
        a:visited {
          text-decoration: none;
        }
      }
    }
  }
}
/* Hero */ 
#hero {
  height: 300px;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}
/* Featured Content Section */ 
#featured {
  .featured-title {
    margin: 20px 0px;
  }
  .content-wrapper {
    margin: 0;
  }
  h2 {
    text-align: center;
    padding: 5px 0px;
  }
  .featured-content-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* Highlighted Post */
    article {
      border: 1px solid black;
      width: 100%;
      margin-bottom: 20px;
      height: 350px;
    }
    /* Add a border around the posts' metadata */
    .featured-content-border {
      @include content-border;
      min-height: 120px;
      max-height: 145px;
    }
    /* Post metadata */
    .post-title {
      font-size: 1.25rem;
      line-height: 1.35rem;
    }
    .post-category a {
      padding-left: 5px;
    }
    h2 {
      line-height: 1.65rem;
    }
    p {
      line-height: .25rem;
    }
  }
}
/* Blog Section */ 
#blog {
  padding-top: 50px;
  .blog-desc-border {
    @include content-border;
    margin: 0;
    padding: 10px;
  }
  .blog-posts {
    /* Blog Post Excerpts */
    article {
      padding-bottom: 10px;
      img {
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: 20px;
      }
      .post-title {
        font-size: 1.25rem;
        padding: 5px 0px;
        line-height: 1.25rem;
      }
      .publish-date {
        line-height: .25rem;
      }
      .read-more {
        line-height: 1rem;
      }
      .read-more-link {
        display: inline;
        font-weight: $bold;
        font-size: 1.75rem;
        line-height: .10rem;
        padding-left: 5px;
      }
      .share-post {
        padding-top: 10px;
      }
    }
  }
  /* Individual Blog Posts */
  .single-post {
    .blog-desc-border {
      width: 100%;
      padding: 0px;
      .post-desc {
        padding: 10px;
      }
    }
    .publish-date {
      margin: 0;
      padding: 0;
    }
    img.post-img {
      border-radius: 30px;
      margin: 30px 0px;
      width: 100%;
    }
    .post-title {
      line-height: 1.75rem;
    }
    .comment-section {
      width: 100%;
      h2 {
        padding: 25px 0px;
        text-align: center;
      }
      .comment {
        .commenter-info {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          img {
            border-radius: 50px;
            width: 50px;
            height: 50px;
          }
          h3 {
            padding-left: 10px;
          }
        }
        .comment-metadata {
          font-weight: $bold;
          text-transform: uppercase;
        }
      }
      form {
        width: 96%;
        input[type="text"] {
          width: 100%;
          margin: 5px 0px;
          padding: 5px 0px 5px 5px;
        }
        input[type="submit"] {
          padding: 10px;
          margin-top: 5px;
        }
      }
    }
  }
  /* Blog Sidebar */ 
  .blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    position: relative;
    aside {
      padding: 25px 0px;
    }
    .sidebar-content-border {
      border: 1px solid black;
      margin-top: 125px;
      padding: 100px 15px 10px 15px;
      position: absolute;
      top: 0;
      z-index: -10;
      .social-media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 20px 0px;
        width: 150px;
      }
      p {
        padding-top: 10px;
      }
    }
    h4 {
      font-size: 1.15rem;
      padding-top: 10px;
      text-align: center;
    }
    .about {
      text-align: center;
      img {
        border-radius: 100px;
        width: 175px;
        height: 175px;
      }
      p {
        margin: 0;
      }
    }
    .newsletter {
      position: relative;
      padding-top: 340px;
      text-align: center;
      form {
        display: flex;
        flex-flow: column wrap;
        margin: 20px 0px;
      }
    }
    .categories {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      h4 {
        width: 100%;
      }
    }
    .recent-posts-sidebar {
      article {
        position: relative;
        padding: 20px 0px;
        img {
          border-radius: 75px;
          width: 75px;
          height: 75px;
        }
        span {
          display: inline-flex;
          flex-direction: column;
          line-height: 1rem;
          position: absolute;
          top: 20px;
          padding-left: 10px;
          .publish-date {
            padding: 0px;
          }
          .post-title {
            font-size: 1rem;
            text-align: left;
            padding: 0;
          }
        }
      }
      form {
        text-align: center;
        margin-top: 30px;
        padding: 10px 0px;
      }
    }
    .ad-space {
      img {
        margin: 0 auto;
        width: 100%;
        padding: 20px 0px;
      }
    }
  }
}
/* Footer */ 
footer {
  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  i {
    margin-left: 10px;
  }
}
/* Tablet Styles */ 
@media screen and (min-width: 768px) {
  /* Featured Posts */ 
  #featured {
    .featured-content-container {
      display: flex;
      flex-flow: row nowrap;
    }
    .featured-content-border {
      height: 160px;
    }
  }
  /* Blog */ 
  #blog {
    .content-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    .blog-posts,
    .single-post {
      width: 450px;
    }
    .blog-sidebar {
      padding-top: 0px;
      width: 250px;
      .newsletter {
        position: relative;
        padding-top: 375px;
      }
    }
  }
}
/* Desktop Styles */ 
@media screen and (min-width: 1200px) {
  #featured {
    .featured-content-container {
      .featured-content-border {
        min-height: 100px;
        max-height: 110px;
      }
    }
  }
  #blog {
    .blog-posts,
    .single-post {
      width: 800px;
    }
    .blog-desc-border {
      width: 60%;
      margin-top: 60px;
    }
    .blog-posts article {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      .post-excerpt {
        width: 50%;
        margin-left: 20px;
      }
      img {
        border-radius: 30px;
        position: absolute;
        min-width: 40%;
        max-width: 45%;
        margin: 0;
        z-index: -10;
        top: 0;
        right: 0;
      }
      .read-more {
        width: 100%;
      }
      .share-post {
        display: block;
        margin: 0;
        padding: 0;
        width: 60%;
      }
      &:nth-of-type(even) {
        flex-flow: row-reverse wrap;
        margin: 100px 0px;
        .post-excerpt {
          width: 50%;
        }
        img {
          border-radius: 30px;
          position: absolute;
          min-width: 40%;
          max-width: 45%;
          margin: 0;
          z-index: -10;
          top: 0;
          left: 0;
        }
      }
    }
    .blog-sidebar {
      width: 300px;
      .newsletter {
        padding-top: 340px;
      }
    }
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

